<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
	<title>Shipping</title>
	<%- include('header.ejs') %>
	<%- include('animation-shipping.ejs') %>
</head>

<body>
	<%- include('top-navbar.ejs', {user: user}); %>

	<div class="loop-wrapper">
		<div class="mountain"></div>
		<div class="hill"></div>
		<div class="tree"></div>
		<div class="tree"></div>
		<div class="tree"></div>
		<div class="rock"></div>
		<div class="truck"></div>
		<div class="wheels"></div>
	</div>
	<div class="container">
		<div class="jumbotron text-center">
			<h1><span class="fa fa-lock"></span>Welcome to Shipping.ca</h1>
		</div>
	</div>


	<%- include('main-js.ejs') %>
</body>

</html>
